# On every push this script is executed
on: push
name: Build and push obisidan-zola to pasges branch 
jobs:
  build:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: build_and_deploy
        # In the spot where it says v0.1.3.1-alpha, update that to the latest release tag on a new release
        uses: trwbox/obsidian-zola-deploy-action@v0.1.3.1-alpha
        env:
          # Target branch
          PAGES_BRANCH: gh-pages
          # Provide personal access token
          TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # Using zola fork for html changes
          ZOLA_REPO: '''https://github.com/rwtechwiki/obsidian-zola'''
